@tailwind base;

@tailwind components;

@tailwind utilities;


.control-label,
.col-form-label {
    white-space: nowrap;
    margin-bottom: 0;
    padding-right: 0;
    width: auto;
}
.form-group {
    display: flex;
    align-items: center;
}
